#card
{
    border-radius: 20px;
    background-color:#fce4ec;
    color:black;
}

#card:hover
{
    color:#7b1fa2;
    background-color: #e1bee7;

}
#image
{
    border-radius: 200%;
    border-width: 10px;
}
